.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.agent-teams/**
.agent-teams
.github/**
pnpm-lock.yaml
pnpm-workspace.yaml
.prettierignore
research/**
